/****** Logo ******/
#header #logo{ display:inline-block; float:left; width:145px; }
#header #logo #logoImg{ width:98px; height:40px; margin:0px auto; background:url('../images/twitter_logo.png') no-repeat; }
