/****** Logo ******/
#header #logo{ float:left; width:180px; display:inline-block; float:left; }
#header #logo #logoImg{ width:160px; height:65px; margin:-30px 10px 0px 10px; background:url('../../images/wikipedia_logo.png') no-repeat; }
