/****** Ad Bar ******/
#body #adBar{ display:inline-block; float:left; border-left:1px solid #dedede; width:239px; height:600px; padding:2px 0px 32px 8px; }
#body #adBar #adBarImg{ width:160px; height:600px; background:url('../../images/ad1.png') no-repeat; }
