/****** Logo ******/
#header #logo{ position:absolute; top:20px; height:72px; width:180px; margin-left:15px; }
#header #logo #logoImg{ width:118px; height:48px; background:url('../../images/amazon_logo.png') no-repeat; }
