/****** Logo ******/
#header #logo{ display:inline-block; float:left; height:52px; padding:19px 0px; }
#header #logo #logoImg{ width:114px; height:41px; margin:0px 12px 0px 44px; background:url('../../images/google_logo.png') no-repeat; }
