/*******************************
 * 		General Overwrite		
 *******************************/
body{ margin:0px; padding:0x; color:#333; font-family: "lucida grande",tahoma,verdana,arial,sans-serif; font-size:11px; left-align:left; }
h1, h2, h3{  }
h1{ color: #333333;  font-size: 16px; }
h2{ font-weight: bold; padding-bottom: 3px;color: #3B5998;  font-size: 11px; }
h3{  }
p{  }
a{ text-decoration:none; color:#3B5998; }
a:link{  }
a:visited{  }
a:hover{ text-decoration:underline; }
a:active{  }
/* 		Container 		*/
#container{   }



/*******************
 * 		Header		
 ******************/
#header{ width:100%; height:37px; background-color:#3B5998; border-bottom: 1px solid #133783; }
#header #headerInner{ width:981px; margin:0px auto; height:20px; }

/****** Logo ******/
#header #logo{ display:inline-block; float:left; width:176px; }
#header #logo #logoImg{ width:103px; display:block; height:31px; margin:6px 0px 0px 0px; background:url('../images/facebook_logo.png') no-repeat; }

/****** Search ******/
#header #search{ display:inline-block; float:left; color:#777; margin:7px 0px 0px 4px; width:380px; }
#header #search input{ display:inline-block; float:left; width:315px; margin:2px 0px 0px 5px; padding:5px 5px 4px; font-size:10px;
	border-top-left-radius:2px; border-bottom-left-radius:2px;
	border-top:1px solid #123682; border-left:1px solid #294a8f; border-bottom:1px solid #294a8f; }
#header #search #searchBtn{ display:inline-block; float:left; margin:2px 0px; padding:5px 4px 4px 4px; background:#fff;
	border-top:1px solid #123682; border-right:1px solid #294a8f; border-bottom:1px solid #294a8f; border-left:1px solid #ddd; 
	border-top-right-radius:2px; border-bottom-right-radius:2px; }

/****** Header Navigation ******/
#header #headerNavigation{ display:inline-block; float:right; list-style:none; }
#header #headerNavigation ul{ list-style-type:none; margin:9px 1px 0px 0px; padding:6px 0px 0px 0px; }
#header #headerNavigation ul li{ display:inline-block; float:right; height:31px; }
#header #headerNavigation ul li a{ color:#D8DFEA; font-weight:bold; border-right:1px solid #526da4; margin-top:9px; padding:0px 8px; z-index:1; }
#header #headerNavigation ul li a:visited{ color:#D8DFEA; }



/*******************
 * 		Body		
 ******************/
#body{ clear:both; width:981px; margin:0px auto; padding-right:5px; overflow:hidden; }
#body a{  }

/****** Sidebar ******/
#body #sideBar{ display:inline-block; float:left; width:181px; }
#body #sideBar ul{ list-style-type:none; padding:0px; }
#body #sideBar ul li{  }
#body #sideBar ul li a{ width:128px; display:block; padding:3px 8px 4px 28px; margin-left:18px; color: #333333; text-decoration:none; }
#body #sideBar ul li a:hover{ background-color:#eff2f7; }
#body #sideBar ul li a.here{ font-weight:bold; background-color: #D8DFEA; }


/****** Content ******/
#body #content{ width:498px; display:inline-block; float:left; border-left:1px solid #CCCCCC; padding:2px 10px; }

/****** Content Text ******/
#body #content #text{ padding-bottom:15px; }
#body #content p{  }

/****** Content Elements ******/
#body #content #picElements{ border-top: 1px solid #E5E5E5; }
#body #content #picElements .element{ width:476px; display:block; overflow:hidden; margin:12px 35px 14px 18px; }
#body #content #picElements .element img{ width:50px; height:50px; float:left; display:inline-block; margin-right:10px; }
#body #content #picElements .element p{ float:left; display:inline-block; }


/****** Ad Bar ******/
#body #adBar{ display:inline-block; float:right; width:280px; height:930px; padding:0px; border-right:1px solid #CCCCCC;  }
#body #adBar #adBarImg{ width:160px; height:600px; background:url('../images/ad1.png') no-repeat; float:right; margin:0px 5px; }



/*******************
 * 		Footer		
 ******************/
#footer{ width:981px; clear:both; margin:0px auto; color: #737373; }
#footerInner{ padding:8px; margin:0px 0px 19px 180px; border-top:1px solid #eee; border-top:1px solid #CCCCCC; }

/****** Navigation ******/
#footer #footerNavigation{ display:inline-block; float:right; }
#footer #footerNavigation ul{ list-style-type:circle; display:inline; margin:0px; padding:0px;  }
#footer #footerNavigation ul li{ display:inline-block; }
#footer #footerNavigation ul li h2{ border:0px; margin:0px; padding:0px; }
#footer #footerNavigation ul li h2 a{ font-weight:normal; font-size:11px; display:inline-block; }
#footer #footerNavigation ul li h2 a:visited{  }
#footer #footerNavigation ul li ul{ display:none; }
#footer #footerNavigation ul li ul li{  }
#footer #footerNavigation ul li ul li a{  }


/****** Copyright ******/
#footer #copyright{ display:inline-block; float:left; }
#footer #copyright p{ margin:0px; }
