/****** Ad Bar ******/
#body #adBar{ display:inline-block; width:300px; float:right; margin-top:106px; }
#body #adBar #adBarImg{ width:160px; height:600px; margin-left:50px; background:url('../../images/ad1.png') no-repeat; }
