/****** Ad Bar ******/
#body #adBar{ display:inline-block; float:right; width:280px; height:930px; padding:0px; border-right:1px solid #CCCCCC; border-bottom:1px solid #CCCCCC; }
#body #adBar #adBarImg{ width:160px; height:600px; background:url('../../images/ad1.png') no-repeat; float:right; margin:0px 5px; }
