/*******************************
 * 		General Overwrite		
 *******************************/
body{ margin:0px; padding:0px; color:#333;
	font:13px/1.5 Helvetica Neue,Arial,Helvetica,'Liberation Sans',FreeSans,sans-serif;
	background:#c0deed;
	background: -webkit-gradient(linear, left top, left bottom, from(#8ec1da), to(#c0deed));
	background: -moz-linear-gradient(top , #8ec1da, #c0deed);
}
h1, h2, h3{  }
h1{ color:#999; font:bold 18px Helvetica Neue,Helvetica,sans-serif; margin:0px 0px 6px 0px; }
h2{  }
h3{  }
p{  }
a{ color:#2D76B9; text-decoration:none; }
a:link{  }
a:visited{ }
a:hover{ text-decoration:underline; }
a:active{  }
/* 		Container 		*/
#container{  }



/*******************
 * 		Header		
 ******************/
#header{ width:100%; overflow:hidden; height:40px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#111111));
	background: -moz-linear-gradient(top , #333333, #111111);
}
#headerInner{ width:1000px; margin:0px auto; }






/*******************
 * 		Body		
 ******************/
#body{ width:960px; margin:20px auto 0px auto; }
#body a{ }



/****** Content ******/
#body #content{ width:540px; display:inline-block; float:left; overflow:hidden; background:#fff; box-shadow:0 3px 4px rgba(0, 0, 0, 0.5); border-radius:4px; -moz-border-radius:4px; }







/*******************
 * 		Footer		
 ******************/
#footer{ clear:both; display:none; }



