/****** Content Elements ******/
#body #content #picElements{ font-size:15px; color:#444; }
#body #content #picElements .element{ padding:10px 15px; display:block; overflow:hidden; border-bottom: 1px solid #EBEBEB; }
#body #content #picElements .element.here{ background:#e5f2f7; }
#body #content #picElements .element img{ width:48px; height:48px; margin-top:3px; display:inline-block; float:left; }
#body #content #picElements .element p{ margin-left:10px; display:inline-block; float:left; }
