/****** Search ******/
#header #search{ display:inline-block; float:left; color:#777; margin:7px 0px 0px 4px; width:376px; }
#header #search input{ display:inline-block; float:left; width:315px; margin:2px 0px 0px 5px; padding:5px 5px 4px; font-size:10px;
	border-top-left-radius:2px; border-bottom-left-radius:2px;
	border-top:1px solid #123682; border-left:1px solid #294a8f; border-bottom:1px solid #294a8f; }
#header #search #searchBtn{ display:inline-block; float:right; margin:2px 0px; padding:5px 4px 4px 4px; background:#fff;
	border-top:1px solid #123682; border-right:1px solid #294a8f; border-bottom:1px solid #294a8f; border-left:1px solid #ddd; 
	border-top-right-radius:2px; border-bottom-right-radius:2px; }
